.header
  .header__texts
    = link_to 'WORKS',root_path, class: "header__texts___text"
    = link_to 'FEAUTURE',root_path, class: "header__texts___text"
    = link_to 'ABOUT',root_path, class: "header__texts___text"
    = link_to 'SKILL',root_path, class: "header__texts___text"
    = link_to 'CNTANT',root_path, class: "header__texts___text"
.title
  .title__text
    Ippei Konishi
  .title__sub
    PORT FORIO
.contents1
  .contents1__title
    WORKS
  .contents1__text
    個人アプリ制作記録
  .contents1__works
    .contents1__work
      = image_tag 'スクリーンショット 2020-12-17 10.09.26.png', alt: '', height: '400px', width: '90%', class: '.contents1__work__image'
      .contents1__work__title
        Kiawase
      = link_to 'リンク先','http://18.180.124.79/', {class: "contents1__work__url"}
      .contents1__work__text
        子供の洋服管理アプリです
    .contents1__work
      = image_tag 'スクリーンショット 2020-12-17 10.09.26.png', alt: '', height: '400px', width: '90%', class: '.contents1__work__image'
      .contents1__work__title
        Kiawase
      = link_to 'リンク先','http://18.180.124.79/', {class: "contents1__work__url"}
      .contents1__work__text
        子供の洋服管理アプリです
    .contents1__work
      = image_tag 'スクリーンショット 2020-12-17 10.09.26.png', alt: '', height: '400px', width: '90%', class: '.contents1__work__image'
      .contents1__work__title
        Kiawase
      = link_to 'リンク先','http://18.180.124.79/', {class: "contents1__work__url"}
      .contents1__work__text
        子供の洋服管理アプリです
