.header
  .header__texts
    = link_to 'WORKS',root_path, class: "header__texts___text"
    = link_to 'FEAUTURE',root_path, class: "header__texts___text"
    = link_to 'ABOUT',root_path, class: "header__texts___text"
    = link_to 'SKILL',root_path, class: "header__texts___text"
    = link_to 'CNTANT',root_path, class: "header__texts___text"
.title
  .title__text
    Ippei Konishi
  .title__sub
    PORT FORIO
